* {
    margin: 0;
    padding: 0;
}

.tab {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    height: 300px;
    width: 300px;
    font-size: xx-large;
    font-weight: bolder;
    color: #fcf790;
}

table, th, td {
    border: 1px solid aqua;
    border-collapse: collapse;
  }

td {
    height: 33.33%;
    width: 33.33%;
    cursor: pointer;
    transition: background-color 0.8s;
}

td:hover {
    background-color: #2e2c2c;
}